body { /*网页背景和字体，统一的样式*/
    font-family: Bitcount Grid Single;
    background-color: #000000;
}

div{
    background-color: #00ffff;
    color: #000000;
    font-family: Bitcount Grid Single; /*字体样式*/
    font-size: 30px;


}
.MA {   /*层级1用小点*/
    background-color: #ff0000;
    color: #ffffff;
    margin: 1px; /*行间距*/
}

#滚动图片 {   /*层级2用井号*/
    background-color: #000000;
    width: 300px;
    height: 300px;
    overflow: scroll;
}

.button {
    font-siza: 1px;
}


h2{
    color: #100000;
    font-size: 19px

}


p{


}


a{  /*超链接按钮的样式*/
    background-color: #000000;
    color: #fffcfc;
    margin: 10px;

    text-align: center;


}